# Python
__pycache__/
*.pyc

# Environnements
.venv/
venv/

# VS Code server (TON PROBLÈME ACTUEL)
.vscode-server/

# Data / models
data/
models/*.json
*.json
*.pt
*.pth
*.ckpt
*.pkl
*.joblib

# OS
.DS_Store

# PyTorch Lightning / TensorBoard
lightning_logs/
**/lightning_logs/
**/events.out.tfevents.*
*.tfevents*